.search {
    background-color: rgb(235, 235, 235);
    width: 500px;
    text-align: center;
    border-radius: 10px;
    border-style: solid;
}

.searchBox {
    width: 200px;
}

.searchButton {
    margin: 5px;
    background-color: azure;
    border-radius: 5px;
    padding: 5px;
    border-color: rgb(167, 167, 167);
    outline: none;
}

.panel-switch-button {
    margin: 5px;
    background-color: rgb(145, 255, 160);
    border-radius: 5px;
    padding: 5px;
    border-color: rgb(156, 156, 156);
    outline: none;
    font-weight: 600;
}

.forms {
    background-color: rgb(235, 235, 235);
    border: 1px solid rgb(0, 0, 0); 
    width: 320px;
    padding: 5px;
    margin: 10px;
}

.addBTN {
    background-color: azure;
    border-radius: 5px;
    padding: 5px;
    border-color: rgb(167, 167, 167);
    outline: none;
}

.removeBG {
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    border-style: solid;
}